@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
#logo1 a, #logo a, .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  justify-content: center;
}

.restaurant, #reservez, #titre {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#titre2, #fonctionnement li {
  display: flex;
  align-items: center;
}

#h1, .description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer ul, footer h2 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.descript1 p {
  display: flex;
  justify-content: space-between;
}

/**GLOBAL**/
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: normal;
  display: block;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.formulaire {
  position: absolute;
  left: -999px;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; /*top et bottom : 0 left et right : 0*/
  padding: 0 15px;
}

.container1 {
  position: relative;
  text-align: center;
  color: white;
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: #353535;
  animation: loader 1000ms 4000ms ease-in-out forwards;
}
.loader .word {
  font-family: "Shrikhand", sans-serif;
  font-size: 5rem;
  animation: word 3000ms both;
}
.loader .word--1 {
  animation-delay: 1000ms;
}
.loader .word--2 {
  animation-delay: 2000ms;
}
.loader .word--3 {
  animation-delay: 3000ms;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
    visibility: hidden;
  }
}
.word1 {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
  color: #d1cde4;
}

.word2 {
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
  color: #c0bbd8;
}

.word3 {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
  color: #afabc7;
}

@keyframes word {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.duree {
  position: absolute;
  width: 80px;
  height: 80px;
}

.duree:after {
  content: ".";
  font-size: 0;
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid white;
  border-color: white transparent white transparent;
  animation: duree 1200ms 800ms linear forwards;
}

@keyframes duree {
  0% {
    transform: rotate(0deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
/* header */
.logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

#logo a {
  padding: 2rem 0 0.5rem;
}
#logo img {
  width: 45%;
}

#form {
  background: #eaeaea;
  box-shadow: 0 0.2em 0.5em grey inset;
  padding: 1rem;
  margin: 1rem 0 -2rem;
}

#search {
  border: none;
  font-size: 1.5rem;
  background: #eaeaea;
}

.fa-map-marker-alt {
  padding: 1rem;
  font-size: 15px;
}

/* debut page */
#presentation {
  background: #f2f2f2;
  width: 100%;
  align-items: center;
  padding: 0rem 2rem 2rem;
  margin-top: 2rem;
}

#reservez p, #reservez h1 {
  text-align: center;
}

#explorer {
  width: auto;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  border-radius: 2rem;
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
#explorer:hover {
  transform: scale(1.05);
}
#explorer a {
  margin-left: 1rem;
}

#fonctionnement {
  align-items: center;
  flex-direction: column;
  gap: 0;
  padding: 1rem;
  width: 85%;
}
#fonctionnement ul {
  width: 110%;
}
#fonctionnement li {
  padding: 0 0 0 5rem;
  margin: 0 0 3rem 0;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #c4c4c4;
  background-color: #f2f2f2;
  gap: 1rem;
  height: 6rem;
}
#fonctionnement ul li:hover {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  background: #F2EAFB;
}
#fonctionnement ul li:hover:hover {
  transform: scale(1.05);
}

.nombre {
  background-color: #9356dc;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  margin-left: -7rem;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  padding: 1rem;
}

.fonctionnement:hover .color {
  color: #9356dc;
}

/* restaurants */
#restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #f2f2f2;
  padding: 1rem 0;
}

.restaurant {
  margin-bottom: 2rem;
  gap: 3rem;
}

article {
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3);
  position: relative;
}
article img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}

.bannier {
  display: flex;
  font-weight: 700;
  padding: 0 1rem;
  background: #99E2D0;
  border-radius: 0.2rem;
  color: #2c9c81;
  line-height: 2rem;
  position: absolute;
  top: 8px;
  right: 16px;
}

.description {
  margin-bottom: -2rem;
  position: relative;
}

.descript {
  padding: 0 0 0 1rem;
  font-size: large;
}

.fa-heart {
  font-size: x-large;
  margin: 0 1rem 0 0;
  position: absolute;
  top: 3rem;
  right: 1rem;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
.fa-heart:hover {
  transform: scale(1.15);
  opacity: 100%;
  /* Créer le dégradé. */
  background-image: linear-gradient(0deg, #ff79da, #9356dc);
  /*affiche le dégradé comme une couleur de texte  */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.couleur:hover {
  opacity: 100%;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* footer */
footer {
  background-color: #353535;
  color: white;
  padding: 6rem 0 2rem;
  position: relative;
}
footer h2 {
  margin: 0 0 2rem;
}
footer ul {
  margin: auto;
}
footer li {
  margin-bottom: 0.5rem;
}
footer li:hover {
  color: #d1cde4;
}

#pad {
  padding: 2rem 0 2rem;
}

.fa-utensils {
  margin-right: 1.5rem;
}

.fa-hands-helping {
  margin-right: 1rem;
}

/* PAGE RESTAURANT */
/* header */
#logo1 {
  display: flex;
  margin: 1rem 0;
}
#logo1 i {
  font-size: 2rem;
  position: absolute;
  left: 1rem;
}
#logo1 img {
  width: 45%;
  position: relative;
  left: 15rem;
}

.fa-arrow-left {
  display: flex;
  margin: 0 10rem 0 1rem;
}
.fa-arrow-left :hover {
  color: #b360db;
}

/* Haut de page */
.image {
  height: 280px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

#h1 {
  position: relative;
  padding-top: 1rem;
  font-family: "shrikhand", sans-serif;
  font-weight: inherit;
}

/* Page restaurant */
#carte {
  background-color: #f6f6f6;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  position: relative;
  box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  padding-top: 1rem;
  width: 100%;
  margin: -5rem auto;
  padding: 0 15px;
}
#carte fieldset {
  border: none;
}

legend {
  text-transform: uppercase;
  border-bottom: 0.3rem solid #99E2D0;
  display: block;
  width: 5%;
  margin: 0 0 1rem 0;
}

.card {
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 0 1.5rem 0 1rembb;
  margin-bottom: 1rem;
  position: inherit;
  font-size: inherit;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
.card:hover {
  transform: scale(1.05);
}

.resto input {
  position: absolute;
  left: -999px;
}

h3 {
  margin: 0 0 1rem 0;
}

.descript1 {
  padding: 0.6rem 0.5rem;
}
.descript1 p {
  margin: 0;
}

.fa-check-circle {
  display: none;
}

.bouton {
  text-align: center;
}

button {
  border: none;
  color: white;
  border-radius: 2rem;
  padding: 0.8em;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--rose)), to(var(--violet)));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-box-shadow: 0 0 16px grey;
  box-shadow: 0 0 16px grey;
  margin: 1em auto 5rem;
  cursor: pointer;
  width: 40%;
}
button :hover {
  background: rgba(206, 111, 177, 0.9803921569);
  box-shadow: 0 1px 5px 0 grey;
}

@media (min-width: 768px) {
  /* header */
  #logo img {
    width: 45%;
  }
  /* debut page */
  #fonctionnement {
    display: flex;
    align-items: flex-start;
    width: 60%;
  }
  /* restaurant */
  article {
    width: 45%;
    margin: 1rem;
  }
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #restaurant {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  /* PAGE RESTAURANT */
  /* header */
  #logo1 img {
    width: 40%;
    left: 40%;
  }
  /* Formulaire */
  #h1 {
    justify-content: center;
  }
  .carte {
    display: flex;
    justify-content: center;
  }
  legend {
    width: 10%;
  }
  button {
    width: 15%;
  }
  .descript1 {
    padding: 0.5rem 1rem;
  }
  footer h2 {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    margin: 0 0 0.5rem 1rem;
  }
  footer ul {
    align-items: center;
  }
  .fa-utensils {
    margin-right: 0.5rem;
  }
  .fa-hands-helping {
    margin-right: 0.5rem;
  }
}
@media (min-width: 992px) {
  /* header */
  #logo img {
    width: 20%;
  }
  #form {
    margin-top: 1rem;
  }
  /* debut page */
  .container2 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto; /*top et bottom : 0 left et right : 0*/
    padding: 0 15px;
  }
  #titre {
    display: flex;
    flex-direction: inherit;
    gap: 10rem;
    margin-top: 3rem;
  }
  #presentation {
    padding: 1rem 2rem 2rem;
    border-radius: 3rem;
    width: 70%;
  }
  #fonctionnement {
    width: 78%;
  }
  #fonctionnement ul {
    width: inherit;
  }
  /* PAGE RESTAURANT */
  /* header */
  #h1 {
    justify-content: center;
  }
  #logo1 img {
    width: 30%;
    left: 40%;
  }
  button {
    width: 10%;
  }
  .descript1 {
    padding: 0.5rem 2.5rem 0.5rem 1.5rem;
  }
  .descript2 {
    padding: 0 2rem;
    height: inherit;
  }
  .desserts {
    columns: inherit;
  }
  #box {
    display: inherit;
  }
}

/*# sourceMappingURL=style.css.map */
