@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
/* PAGE RESTAURANT */
/* header */
#logo1 {
  display: flex;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#logo1 a {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo1 i {
  font-size: 2rem;
  position: absolute;
  left: 1rem;
}
#logo1 h1 {
  font-size: 3.5rem;
  margin: 1rem 0;
}
@media (min-width: 992px) {
  #logo1 h1 {
    font-size: 4rem;
  }
}

.fa-arrow-left {
  display: flex;
  margin: 0 10rem 0 1rem;
}
.fa-arrow-left :hover {
  color: #b360db;
}

/* Haut de page */
.image {
  height: 280px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

/* Page restaurant */
.menus {
  background-color: #f6f6f6;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  position: relative;
  margin-top: -8rem;
  padding: 0 1rem;
  z-index: 1;
}
.menus h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  font-family: "shrikhand", sans-serif;
  font-weight: inherit;
  font-size: 26px;
  margin-right: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .menus h2 {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .menus h2 {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .menus .menus_desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.menus .carte {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .menus .carte {
    margin: 0 2rem 0 0;
  }
}
.menus .carte legend {
  text-transform: uppercase;
  border-bottom: 0.3rem solid #99E2D0;
  display: block;
  width: 5%;
  margin: 0 0 1rem 0;
  animation: slidedown 1.5s;
}
@media (min-width: 768px) {
  .menus .carte legend {
    width: 10%;
    margin: 1rem 0;
  }
}
@keyframes slidedown {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.menus .carte label {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 8px 20px rgba(131, 131, 131, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
  padding: 0px 10px;
  overflow: hidden;
  opacity: 0;
  animation: menu-appear 1400ms ease-in-out both;
}
.menus .carte label:nth-of-type(1) {
  animation-delay: 100ms;
}
.menus .carte label:nth-of-type(2) {
  animation-delay: 500ms;
}
.menus .carte label:nth-of-type(3) {
  animation-delay: 900ms;
}
.menus .carte label:nth-of-type(4) {
  animation-delay: 1300ms;
}
.menus .carte label:nth-of-type(5) {
  animation-delay: 1700ms;
}
.menus .carte label input[type=checkbox] {
  position: absolute;
  left: -999px;
}
@media (min-width: 768px) {
  .menus .carte label {
    width: 330px;
  }
}
.menus .carte label .texte {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: initial;
}
.menus .carte label .texte .menuTitle {
  font-size: 16px;
  margin-bottom: 5px;
  margin: 1rem 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}
.menus .carte label .texte .menuDes {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menus .carte label .annimation {
  display: flex;
  align-items: flex-end;
  width: 29px;
  transition-duration: 750ms;
}
.menus .carte label .price {
  font-weight: bold;
  margin: 0 20px 12px 0;
  text-align: center;
  font-size: 14px;
}
.menus .carte label .icone {
  background: #99E2D0;
  padding: 22px;
}
.menus .carte label .icone i {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #ffffff;
  transition-duration: 680ms;
}
.menus .carte label:hover .annimation {
  width: 99px;
  transition-delay: 100ms;
  transition-duration: 750ms;
}
.menus .carte label:hover .icone i {
  transform: rotate(1turn);
  transition-delay: 100ms;
  transition-duration: 680ms;
}

@keyframes menu-appear {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.bouton {
  text-align: center;
}

button {
  border: none;
  color: white;
  border-radius: 2rem;
  padding: 0.8em;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--rose)), to(var(--violet)));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-box-shadow: 0 0 16px grey;
  box-shadow: 0 0 16px grey;
  margin: 1em auto 5rem;
  cursor: pointer;
  width: 40%;
}
button :hover {
  background: rgba(206, 111, 177, 0.9803921569);
  box-shadow: 0 1px 5px 0 grey;
}
@media (min-width: 768px) {
  button {
    width: 15%;
  }
}
@media (min-width: 992px) {
  button {
    width: 10%;
  }
}

/* footer */
footer {
  background-color: #353535;
  color: white;
  padding: 2rem 0 2rem;
}
footer h2 {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: 0 0 2rem;
}
@media (min-width: 768px) {
  footer h2 {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    margin: 0 0 0.5rem 1rem;
  }
}
footer ul {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: auto;
}
@media (min-width: 768px) {
  footer ul {
    align-items: center;
  }
}
footer li {
  margin-bottom: 0.5rem;
}
footer li:hover {
  color: #d1cde4;
}

#pad {
  padding: 2rem 0 2rem;
}

.fa-utensils {
  margin-right: 1.5rem;
}
@media (min-width: 768px) {
  .fa-utensils {
    margin-right: 0.5rem;
  }
}

.fa-hands-helping {
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .fa-hands-helping {
    margin-right: 0.5rem;
  }
}

/**GLOBAL**/
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: normal;
  display: block;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.formulaire {
  position: absolute;
  left: -999px;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; /*top et bottom : 0 left et right : 0*/
  padding: 0 15px;
}

.container1 {
  position: relative;
  text-align: center;
  color: white;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 11rem;
  background: #f2f2f2;
  position: fixed;
  font-size: 5rem;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: loader 4s forwards;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.word {
  opacity: 0;
  font-family: "Shrikhand", sans-serif;
}
.word:nth-of-type(1) {
  animation: go 2s ease forwards;
  color: #c1a5d3;
}
.word:nth-of-type(2) {
  animation: go 2s ease forwards;
  animation-delay: 1s;
  color: #b490c3;
}
.word:nth-of-type(3) {
  animation: go 2s ease forwards;
  animation-delay: 2s;
  color: #b080db;
}
@keyframes go {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.duree {
  position: absolute;
  width: 80px;
  height: 80px;
}

.duree:after {
  content: ".";
  font-size: 0;
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid white;
  border-color: white transparent white transparent;
  animation: duree 1200ms 800ms linear forwards;
}

@keyframes duree {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.gt {
  opacity: 0;
  animation: gt 4s forwards;
}
@keyframes gt {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* header */
.logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

#logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0.5rem;
}
#logo img {
  width: 45%;
}
@media (min-width: 768px) {
  #logo img {
    width: 30%;
  }
}
@media (min-width: 992px) {
  #logo img {
    width: 20%;
  }
}

#form {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  box-shadow: 0 0.2em 0.5em grey inset;
  padding: 1rem;
  margin: 1rem 0 -2rem;
}
@media (min-width: 992px) {
  #form {
    margin-top: 1rem;
  }
}

#search {
  border: none;
  font-size: 1.5rem;
  background: #eaeaea;
}

.fa-map-marker-alt {
  padding: 1rem;
  font-size: 15px;
}

/* debut page */
#titre {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  #titre {
    display: flex;
    flex-direction: inherit;
    gap: 10rem;
    margin-top: 3rem;
  }
}

#presentation {
  background: #f2f2f2;
  width: 100%;
  align-items: center;
  padding: 0rem 2rem 2rem;
  margin-top: 2rem;
}
@media (min-width: 992px) {
  #presentation {
    padding: 1rem 2rem 2rem;
    border-radius: 3rem;
    width: 70%;
  }
}

#reservez {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#reservez p, #reservez h1 {
  text-align: center;
}

#explorer {
  width: auto;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  border-radius: 2rem;
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
#explorer:hover {
  transform: scale(1.05);
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.8117647059), rgba(147, 86, 220, 0.8117647059));
  box-shadow: 0px 0px 5rem 0px rgba(0, 0, 0, 0.3);
}
#explorer a {
  margin-left: 1rem;
}

#fonctionnement {
  align-items: center;
  flex-direction: column;
  gap: 0;
  padding: 1rem;
  width: 85%;
}
@media (min-width: 768px) {
  #fonctionnement {
    display: flex;
    align-items: flex-start;
    width: 60%;
  }
}
@media (min-width: 992px) {
  #fonctionnement {
    width: 78%;
  }
}
#fonctionnement ul {
  width: 110%;
}
@media (min-width: 992px) {
  #fonctionnement ul {
    width: inherit;
  }
}
#fonctionnement li {
  display: flex;
  align-items: center;
  padding: 0 0 0 5rem;
  margin: 0 0 3rem 0;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #c4c4c4;
  background-color: #f2f2f2;
  gap: 1rem;
  height: 6rem;
}
#fonctionnement ul li:hover {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  background: #F2EAFB;
}
#fonctionnement ul li:hover:hover {
  transform: scale(1.05);
}

.nombre {
  background-color: #9356dc;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  margin-left: -7rem;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  padding: 1rem;
}

.fonctionnement:hover .color {
  color: #9356dc;
}

/* restaurants */
#restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #f2f2f2;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  #restaurant {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

#titre2 {
  display: flex;
  align-items: center;
}

.restaurant {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 3rem;
}
@media (min-width: 768px) {
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

article {
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3);
  position: relative;
}
@media (min-width: 768px) {
  article {
    width: 45%;
    margin: 1rem;
  }
}
article img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}

.bannier {
  display: flex;
  font-weight: 700;
  padding: 0 1rem;
  background: #99E2D0;
  border-radius: 0.2rem;
  color: #2c9c81;
  line-height: 2rem;
  position: absolute;
  top: 8px;
  right: 16px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2rem;
  position: relative;
}

.descript {
  padding: 0 0 0 1rem;
  font-size: large;
}

.fa-heart {
  font-size: x-large;
  margin: 0 1rem 0 0;
  position: absolute;
  top: 3rem;
  right: 1rem;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
.fa-heart:hover {
  transform: scale(1.15);
  opacity: 100%;
  /* Créer le dégradé. */
  background-image: linear-gradient(0deg, #ff79da, #9356dc);
  /*affiche le dégradé comme une couleur de texte  */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.couleur:hover {
  opacity: 100%;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media (min-width: 992px) {
  /* debut page */
  .container2 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto; /*top et bottom : 0 left et right : 0*/
    padding: 0 15px;
  }
}

/*# sourceMappingURL=style.css.map */
