/* PAGE RESTAURANT */
/* header */
#logo1
{
    display: flex;
    justify-content: center;
    text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
    a
    {
        @include flex(center);
    }

    i
    {
        font-size: 2rem;
        position: absolute;
        left: 1rem;
    }

    h1
    {
        font-size: 3.5rem;
        margin: 1rem 0;
        @media (min-width: 992px)
        {
            font-size: 4rem;
        }
    }
}

.fa-arrow-left
{
    display: flex;
    margin: 0 10rem 0 1rem;

    :hover
    {
    color: $violetclaire;
    }
}

/* Haut de page */
.image
{
    height: 280px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
/* Page restaurant */

.menus
{
    background-color: $grisclaire;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;    
    position: relative;
    margin-top: -8rem;
    padding: 0 1rem;
    z-index: 1;
    h2
    {
        @include flex (space-between);
        position: relative;
        padding: 1rem 2rem;
        font-family: 'shrikhand', sans-serif;
        font-weight: inherit;
        font-size: 26px;
        margin-right: 40px;
        text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
        @media (min-width: 768px)
        {
            justify-content: center;
        }
        @media (min-width: 992px)
        {
            justify-content: center;
        }
    }
   
    .menus_desktop
    {
        @media (min-width: 768px)
        {
            display: flex;
            justify-content: center; 
            flex-wrap: wrap;
        }
    }
    .carte
    {
        margin-bottom: 40px;
        @media (min-width: 768px)
        {
            margin: 0 2rem 0 0;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-weight: 400;
            position: relative;
            margin-left: 15px;
            text-align: initial;
            animation: slidedown 1.5s;
            &::after {
                content: "";
                width: 40px;
                height: 4px;
                background-color: #99E2D0;
                position: absolute;
                bottom: -10px;
                left: 1px;
            }
            
            @media (min-width: 768px)
            {
                width: 10%; 
            }
            @keyframes slidedown
            {
                from{
                    transform: translateY(100px);
                    opacity: 0;
                }
                to{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
        
        label
        {
            cursor: pointer;
            background-color:  #ffffff;
            box-shadow: 0px 8px 20px rgba(131, 131, 131, 0.2);
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 95%;
            margin: auto;
            margin-bottom: 15px;
            padding: 0px 10px;
            overflow: hidden;
            opacity: 0;
            animation: menu-appear 1400ms ease-in-out both;
            &:nth-of-type(1) {
                animation-delay: 100ms;
            }
            &:nth-of-type(2) {
                animation-delay: 500ms;
            }
            &:nth-of-type(3) {
                animation-delay: 900ms;
            }
            &:nth-of-type(4) {
                animation-delay: 1300ms;
            }
            &:nth-of-type(5) {
                animation-delay: 1700ms;
            }
            input[type="checkbox"] 
            {
                position: absolute;
                left: -999px;
            }
            @media (min-width: 768px)
            {
                width: 330px;
            }
            .texte
            {
                text-overflow: ellipsis;
                overflow: hidden;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                text-align: initial;
                .menuTitle
                {
                    font-size: 16px;
                    margin-bottom: 5px;
                    margin: 1rem 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-weight: bold;                    
                }
                .menuDes
                {
                    font-size: 14px;
                    font-weight: 300;
                    margin: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            .annimation 
            {
                display: flex;
                align-items: flex-end;
                width: 29px;
                transition-duration: 750ms;
            }
            .price
            {
                font-weight: bold;
                margin: 0 20px 12px 0;
                text-align: center;
                font-size: 14px;
            }
            .icone
            {
                background: #99E2D0;
                padding: 22px;
                i {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    color: #ffffff;
                    transition-duration: 680ms;
                }
            }
        }
        label:hover .annimation {
            width: 99px;
            transition-delay: 100ms;
            transition-duration: 750ms;
          }
        label:hover .icone i {
            transform: rotate(1turn);
            transition-delay: 100ms;
            transition-duration: 680ms;
        }
    }
}
@keyframes menu-appear {
    0% {
    transform: translateY(15px);
    opacity: 0;}
    100% {
    transform: translateY(0px);
    opacity: 1;}
}

.bouton
{
    text-align: center;
}
button
{
    border: none;
    color: $blanc;
    border-radius: 2rem;    
    padding: 0.8em;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--rose)), to(var(--violet)));
    background: linear-gradient($rose,$violet);
    -webkit-box-shadow: 0 0 16px grey;
    box-shadow: 0 0 16px grey;
    margin: 1em auto 5rem;
    cursor: pointer;
    width: 40%;

    :hover
    {
        background: $rosepastel;
        box-shadow: 0 1px 5px 0 grey;
    }
    @media (min-width: 768px)
    {
        width: 15%;
    }
    @media (min-width: 992px)
    {
      width: 10%;  
    }
}
