// couleurs

$mauve : #d1cde4;
$violetclaire: #b360db;
$violet: #9356dc;
$rose: #ff79da;
$roseclaire: #F2EAFB;
$rosepastel: #ce6fb1fa;
$grismoyen: #f2f2f2;    
$grisclaire: #f6f6f6;
$gris: #c4c4c4;
$grey: #eaeaea;
$blanc: white;
$noir: #353535;    
$vert: #2c9c81;
$vertclaire: #99E2D0; 